<form method="post" action="<%= @id %>/delete">
  <input type="hidden" name="_method" value="delete">
  <% @memos.each do |r| %>
    <% @id = r['id'] %>
    <h2><%= r['title'] %></h2>
    <p><%= r['content'] %></p>
  <% end %>

  <div class="btn-area">
    <input type="reset" value="編集" onclick="location.href='<%= @id %>/edit'"><input type="submit" value="削除">
  </div>
</form>
