<form method="post" action="edit">
  <input type="hidden" name="_method" value="patch">
  <div class="item">
    <label class="label">タイトル</label>
    <input class="inputs" type="text" name="memo_title" required="required" value=<%= @title %>>
  </div>
  <div class="item">
    <label class="label">内容</label>
    <textarea class="inputs" name="memo_content"><%= @content %></textarea>
  </div>

  <div class="btn-area">
    <input type="submit" value="保存">
</form>
<a href='/memos'>キャンセル</a>
  </div>
