<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'> 
    <link rel="stylesheet" href="/public.css" />
    <title>Memo Pad</title>
  </head>
  <body>
    <h1><a href='/memos'>メモ帳</a></h1>
    <%= yield %>
  </body>
</html>
