<form method="get" action="new">
  <p><% @json_data['memos'].reverse_each do |js| %>
  <p><a href="/memos/:<%= js['id'] %>/details"><%= js['title'] %></a></p>
<% end %>
  </p>

  <div class="btn-area">
    <input type="submit" value="作成">
  </div>
</form>
