<form method="get" action="new">
  <% @memos.each do |m| %>
  <p><a href="/memos/<%= m['id'] %>"><%= m['title'] %></a></p>
<% end %>

  <div class="btn-area">
    <input type="submit" value="作成">
  </div>
</form>
