<form method="post" action="memos"> 
  <div class="item">
    <label class="label">タイトル</label>
    <input class="inputs" type="text" name="memo_title">
  </div>
  <div class="item">
    <label class="label">内容</label>
    <textarea class="inputs" name="memo_content"></textarea>
  </div>

  <div class="btn-area">
    <input type="submit" value="保存"><input type="reset" value="キャンセル" onclick="location.href='memos'">
  </div>
</form>
